body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.calculator {
    width: 350px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.screen {
    height: 100px;
    background-color: white;
    justify-self: center;
}

.numpad {
    background-color: white;
    width: 80%;
}

.operators {
    background-color: white;
    width: 20%;
}